page-pretest {
    

    ion-card ion-card-header {
        font-size: 32px !important;
        font-family: "Comic Sans MS", cursive, sans-serif !important;
        
    }

    ion-content ion-card ion-card-content div p{
        font-size: 30px !important;
        font-family: "Palatino Linotype", "Book Antiqua", Palatino !important;
    
    }

    
}
