page-letter-start {
    div ion-list p {
        font-size: 30px !important;
        font-family: "Palatino Linotype", "Book Antiqua", Palatino !important;
        font-weight: bold;
    }

    div ion-list ion-icon {
        font-weight: bold;
    }
}
