page-letter-exam {

        div ion-list ion-item ion-label{
            font-size: 35px !important;
            font-family: "Palatino Linotype", "Book Antiqua", Palatino !important;
        }

       ion-content div p{
            font-size: 35px !important;
            font-family: "Palatino Linotype", "Book Antiqua", Palatino !important;
            font-weight: bold;
        }
}
